body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7133b4;
    margin: 0;
}

header{
    text-align: center;
    margin-bottom: 25px;
    width: 100%;
    max-width: 900px;
}

h1{
    color: #ffffff;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 8px;
    letter-spacing: 1px;

}
.toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

label{
    display: flex;
    align-items: center;
    gap: 10px;
}

button{
    display: flex;
    gap: 12px;
    margin-left: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#undoButton{
   color: #ffffff;
   background-color: #7133b4; 
}

#redoButton{
   color: #ffffff;
   background-color: #7133b4;  
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

#undoButton:hover,#redoButton:hover{
    color: #7133b4;
    background-color: #ffffff;
}

canvas{
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: white;
}

#drawing-canvas {
    border: 2px solid #333;
    background-color: #ffffff;
    cursor: crosshair;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .toolbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    
    .button {
        margin-left: 0;
        width: 100%;
        justify-content: space-between;
        
    }
    #undoButton,#redoButton{
        flex: 1;   
    }
}